<mat-card class="sb-accent-light-opaque">
  <mat-card-title>
    Small Bear Coffee
  </mat-card-title>
  <mat-card-content>
    <img alt="Logo" src="assets/logo/SmallBearStampPOS_Small.png"/>
    <span>
        We, like a lot of people, love coffee. We’re into coffee (way into coffee)..., but we’re also into sustainability, responsibility, and accessibility. Here at Small Bear we’re serving up good coffee, without the confusion or intimidation that can come with other coffee suppliers. We have a relationship with our coffee bean farmers, and we make sure that they are paid above fair-trade prices. At Small Bear, we know that there are as many types of people as there are varieties of coffee, and we want to cater to each and every one of them. From the coffee connoisseur in the fancy cafes to the folks that enjoy their drip coffee out of a thermos, we have something for everyone.  At Small Bear Coffee, we will never make you feel ashamed for what you enjoy. Every taste matters. There is no “right” way to enjoy coffee, just what is right for you.
        <br/><br/>
        No one should tell you how to drink your coffee. Find your roast.
    </span>
    <br/><br/>
    <div fxLayout="row" fxFlexAlign="center">
      <button mat-button class="sb-primary-dark" (click)="openToS()">Terms of Service</button>
      <button mat-button class="sb-primary-dark" (click)="openPriv()">Privacy Policy</button>
    </div>
  </mat-card-content>
</mat-card>

<!--<div fxLayout="row">
  <div fxLayout="column">
    <span class="sb-primary-light">Primary Light</span>
    <span class="sb-primary">Primary</span>
    <span class="sb-primary-dark">Primary Dark</span>
  </div>
  <div fxLayout="column">
    <span class="sb-accent-light">Accent Light</span>
    <span class="sb-accent">Accent</span>
    <span class="sb-accent-dark">Accent Dark</span>
  </div>
</div>-->
