<div>
  <div>
    <span>Before we continue the checkout process, we need to know your address so we can ship your purchase.</span>
  </div>
  <form [formGroup]="address" fxLayout="column">
    <mat-form-field>
      <input required matInput placeholder="Street" maxlength="250" formControlName="street"/>
      <mat-error>{{getErrorMessage(address.controls.street)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input required matInput placeholder="City" maxlength="110" formControlName="city"/>
      <mat-error>{{getErrorMessage(address.controls.city)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input required matInput placeholder="Zip" pattern="^[0-9]{5}(?:-[0-9]{4})?$" formControlName="zip"/>
      <mat-error>{{getErrorMessage(address.controls.zip)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select required placeholder="State" formControlName="state">
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
      <mat-error>{{getErrorMessage(address.controls.state)}}</mat-error>
    </mat-form-field>
  </form>
  <button mat-raised-button class="sb-accent-dark" (click)="next()" [disabled]="address.invalid">Next</button>
</div>
